<ion-header>
    <ion-toolbar color="blank"
                 toolbarContainer
    >
        <ion-title>Account</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container bg-blank py-10 px-6">
        <div>Microfrontend Account Page</div>

        <br/>

        <div>
            <a class="text-primary font-bold" routerLink="/app/mfe/profile">See Profile (Push page in /app routes)</a>
        </div>

        <br />

        <div>
            <a class="text-primary font-bold" routerLink="/mfe/landing">See Profile Landing (Push page in / routes)</a>
        </div>
    </div>
</ion-content>
